<mat-dialog-content>
  <div class="titulo">
    <h2>{{ data.title }}</h2>
  </div>
  <div class="product-view-dialog">
    <button mat-icon-button class="close-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <img [src]="data.image" [alt]="data.title" class="product-image" />
    <p><strong>Precio:</strong> {{ data.price | currency }}</p>
    <p><strong>Descripción:</strong> {{ data.description }}</p>
    <p><strong>Categoría:</strong> {{ data.category }}</p>
    <p><strong>Calificación:</strong> {{ data.rating.rate }} ({{ data.rating.count }} reseñas)</p>
  </div>
</mat-dialog-content>